/* 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
*/

.layout-tv body::-webkit-scrollbar {
    display: none;
}

.layout-tv body.webos-force-header-pin .skinHeader,
.layout-tv body.webos-force-header-pin .appHeader,
.layout-tv body.webos-force-header-pin .headerTabs {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 9999 !important;
}
